import { z } from "zod";
import type { BaseRouteInfo } from "@/routes/makeRoute";

export const Route = {
  name: "{{{name}}}",
  params: z.object({
{{#each params}}
    {{{this}}},
{{/each}}  
  })
} satisfies BaseRouteInfo;

{{#each verbs}}
export const {{{this.verb}}} = {
  {{#each this.keys}}
  {{{this}}}: z.object({}),
  {{/each}}
};
{{/each}}
